@{
    ViewBag.Title = "Details";
}

<h2>Name: @ViewBag.Animal.Name</h2>
<h2>Species Common Name: @ViewBag.Animal.CommonName</h2>
<h2>Species Scientific Name: @ViewBag.Animal.ScientificName</h2>
<h2>Habitat: @ViewBag.Habitat.Name</h2>
<h2>Age: @ViewBag.Animal.Age</h2>

